a,
p {
  font-size: 34px;
  color: black;
  text-decoration: none;
  text-align: justify;
  margin-top: 10px;
  transition: opacity 0.15s;

}

a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

a:active {
  opacity: 0.5;
}



.navigate{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 90fr 10fr ;
  column-gap: 0;
  color: rgb(0, 0, 0);
  
}




.flexstyl,
.textz
{
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

#img,
.reporting1,
.reporting2,
.infograpic
{
  height: 300px;
}